# N4 Max USB-C accelerometer config: lis2dw on the THR toolhead MCU (X axis) +
# adxl345 on the rpi host (Y axis).
[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345 y]
cs_pin: rpi:None
spi_bus: spidev0.1
axes_map:-x,-y,-z

[lis2dw x]
cs_pin:THR:PA4
spi_software_sclk_pin:THR:PA5
spi_software_mosi_pin:THR:PA7
spi_software_miso_pin:THR:PA6
axes_map: -y, -z, -x

[resonance_tester]
accel_chip_x: lis2dw x
accel_chip_y: adxl345 y
max_smoothing:1
min_freq: 5
max_freq: 90
accel_per_hz: 120
hz_per_sec: 2
probe_points:
    215, 215, 20
